body {
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline-flex;
  list-style-type: none;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: white;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
.progressbutton {
  padding: 5px 10px;
  border: 1px solid #0099FF;
  text-decoration: none;
  transition: all 0.2s;
}
.progressbutton:hover{
  background-color: #0099ff5d;
}