#path59{
  stroke-width:8;stroke-miterlimit:4;stroke-dasharray:none;
}
#rect91{
  stroke:#000000;stroke-width:8;stroke-miterlimit:4;stroke-dasharray:none
}
#path936, #path938, #path940, #path942, #path944{
  fill:#ffffff;stroke:none;stroke-width:1.30614;stroke-miterlimit:4;stroke-dasharray:none
}